{% extends 'toris/bootstrap.html' %}
{% load static %}
{% load bootstrap4 %}
{% block bootstrap4_content %}

    <title>{% block title %}Plant History{% endblock %}</title>
  {% block css %}
    {% bootstrap_css %}
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'toris/css/toris.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block js %}
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

    {% endblock %}


{% block navbar %}
<div class="container-fluid ">
    <nav class="navbar fixed-top navbar-dark bg-dark">

        <a class="navbar-brand text-light" href="{% url 'toris:production_list' %}"><i class="fa fa-home"
                                                                                         aria-hidden="true"></i>Toris</a>
        <a class="nav-link text-light " href="{% url 'toris:production_list' %}">Production List</a>
        <a class="nav-link text-light" href="{% url 'toris:product_list' %}">Product list </a>
        <a class="nav-link text-light" href="{% url 'toris:order_list' %}">Order list </a>
        <a class="nav-link text-light" href="{% url 'toris:production_order_list' %}">Production Order </a>
        <a class="nav-link text-light" href="{% url 'toris:operator_list' %}">Plant Operator </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

</nav>
    <div class="mt-40 ">

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        {% block container %}
    {% endblock %}
    </div>
</div>






<!--<nav class="navbar fixed-top navbar-light bg-light">-->
<!--<div class="container ">-->
<!--        <a class="navbar-brand text-primary" href="{% url 'toris:production_list' %}"><i class="fa fa-home"-->
<!--                                                                                         aria-hidden="true"></i>Toris</a>-->
<!--        <a class="nav-link" href="{% url 'toris:production_list' %}">Production List</a>-->
<!--        <a class="nav-link" href="{% url 'toris:product_list' %}">Product list </a>-->
<!--        <a class="nav-link" href="{% url 'toris:order_list' %}">Order list </a>-->
<!--        <a class="nav-link" href="{% url 'toris:production_order_list' %}">Production Order </a>-->
<!--        <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
<!--</div>-->
<!--</nav>-->

{% endblock %}
{% endblock %}

<!--<div class="container-fluid ">-->

<!--</div>-->
