{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <title>{% block title %}Plant History{% endblock %}</title>
    {% block css %}
    {% bootstrap_css %}
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'toris/css/toris.css' %}" rel="stylesheet" type="text/css">


    {% endblock %}

    {% block js %}
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <script src="{% static 'toris/js/counter.js' %}"></script>

    {% endblock %}

    {% block navbar %}

<!--    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">-->
<!--      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>-->
<!--      <nav class="my-2 my-md-0 mr-md-3">-->
<!--        <a class="p-2 text-dark" href="#">Features</a>-->
<!--        <a class="p-2 text-dark" href="#">Enterprise</a>-->
<!--        <a class="p-2 text-dark" href="#">Support</a>-->
<!--        <a class="p-2 text-dark" href="#">Pricing</a>-->
<!--      </nav>-->
<!--      <a class="btn btn-outline-primary" href="#">Sign up</a>-->
<!--    </div>-->


    <div class="container-fluid ">
        <nav class="navbar navbar-expand-md bg-company-red navbar-dark sticky-top">
            <a class="navbar-brand" href="{% url 'toris:home' %}"><i class="fas fa-home"></i>Toris</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
                    aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navb" class="navbar-collapse collapse hide">
                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-light " href="{% url 'toris:production_list' %}">Production List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'toris:product_list' %}">Product list </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'toris:order_list' %}">Order List </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'toris:operator_list' %}">Operator List </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'toris:production_order_list' %}">Production
                            Order </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown ">
                        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-user"></span>
                            User:{{user.first_name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'toris:logout' %}">Sign out</a>
                            <a class="dropdown-item" href="{% url 'toris:password_change' %}">Change Password</a>
                            <!--                        <div class="dropdown-divider"></div>-->
                            <!--                        <a class="dropdown-item" href="#">Something else here</a>-->
                        </div>
                    </li>
                </ul>

                {% else %}

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'toris:register' %}"><span class="fas fa-user"></span> Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'toris:login' %}"><span class="fas fa-user"></span> Sign in</a>
                    </li>

                </ul>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
        <div class="container-fluid">
<!--             <div id="total-time-left" align="center"> </div>-->
            <!--        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}-->
            {% block container %}
            {% endblock %}
        </div>

  	<!--Foter Bottom-->
<!--		<div class="footer-bottom">-->
<!--			<div class="clearfix">-->
<!--				&lt;!&ndash;Logo Box&ndash;&gt;-->
<!--				<div class="logo-box">-->
<!--					<a href="https://www.torispolyfab.com/"><img src="https://www.torispolyfab.com/includes/images/logo-3.png" alt="Toris Polyfab LLP" title="pp woven fabric and bags exporter from India"></a>-->
<!--				</div>-->
<!--				<div class="column pull-left">-->
<!--					<div class="text">© 2019 All rights reserved by <a href="#">Toris PolyFab LLP.</a></div>-->
<!--				</div>-->
<!--				<div class="column pull-right">-->
<!--					<div class="text">Developed By <a href="#" target="_blank">Rajnikant Bhoraniya</a></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->


        <footer class="pt-4 my-md-5 pt-md-5 border-top bg-company-red">
        <div class="row">
          <div class="col-4 col-md">
              <img src="{% static 'toris/images/logo.png' %}" alt="My image">
             <small class="d-block mb-3 ml-5 text-light" >   © 2017-2018</small>
          </div>
          <div class="col-4 col-md text-light">
            <h5><i class="fa fa-home"></i> Reach Us</h5>
            <ul class="list-unstyled text-small">
              <a class="text-light" >S.No. 158 p2, Nr. Tathastu Spinning Mill,</a><br>
              <a class="text-light" >Vill. Hirapar, Tal. Tankara,</a><br>
              <a class="text-light" >Dist. Morbi-363650 (Gujarat) India.</a>

            </ul>
          </div>
          <div class="col-4 col-md text-light">
            <h5><i class="fa fa-envelope"></i> Email Us</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-light" href="#">purchase.toris@gmail.com </a></li>
              <li><a class="text-light" href="#">sales.toris@gmail.com</a></li>

            </ul>
          </div>

        </div>
      </footer>

    </div>
</head>
</html>


