{% extends "base.html" %}
{% block title %} Sales Bill Create {% endblock title %}
{% load static %}
{% block includecss %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<style>
    .hidden{
    display:none
    }
</style>
{% endblock %}

{% block content %}

<div class="row mt-2">
    <div class="col-10">
        <h3>Create Invoice</h3>
    </div>
    <div class="col">
        <div class="text-right">
            <a class="btn btn-info btn-sm " href="{% url 'inventory:new-customer' %}">New Customer</a>
        </div>
    </div>
</div>


<form method="post" class="panel panel-default">
    {% csrf_token %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="table-active" scope="col" colspan="6">Salse Invoice Details</th>
        </tr>
        </thead>

        <tbody class="three-col-form">
        <tr>
            <th scope="row">Invoice Number</th>
            <td class="form-input-td">
                {{invoiceform.invoice_number}}
            </td>
            <th scope="row">Date</th>
            <td class="form-input-td">
                {{invoiceform.date}}
            </td>
            <th scope="row">IGST</th>
            <td class="form-input-td">
                {{invoiceform.igstcheck}}
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="table-active" scope="col" colspan="6">Customer Details</th>
        </tr>
        </thead>

        <tbody class="three-col-form">
        <tr>
            <th scope="row">Name</th>
            <td class="form-input-td customer_search_area">
                {{invoiceform.customer}}
            </td>
            <th scope="row">Address</th>
            <td class="form-input-td">
                {{customerform.address}}

            </td>
            <th scope="row">City</th>
            <td class="form-input-td">
                {{customerform.city}}

            </td>
        </tr>
        <tr>
            <th scope="row">Mobile Number</th>
            <td class="form-input-td">
                {{customerform.phone}}

            </td>
            <th scope="row">E-Mail</th>
            <td class="form-input-td">
                {{customerform.email}}

            </td>
            <th scope="row">GSTIN</th>
            <td class="form-input-td">
                {{customerform.gstin}}

            </td>
        </tr>

        </tbody>
    </table>
    <table class="table table-bordered">
        <tbody class="three-col-form">
        <tr>
            <th scope="row">Vehicle No:</th>
            <td class="form-input-td">
                {{invoiceform.vehicle_number}}

            </td>
            <th scope="row">E-Way No:</th>
            <td class="form-input-td">
                {{invoiceform.eway_number}}

            </td>
            <th scope="row">LR No:</th>
            <td class="form-input-td">
                {{invoiceform.lr_number}}

            </td>
        </tr>
        <tr>
            <th scope="row">PO No:</th>
            <td class="form-input-td">
                {{invoiceform.po_number}}

            </td>
            <th scope="row">Challan No:</th>
            <td class="form-input-td">
                {{invoiceform.challan_number}}

            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered" id="invoice-form-items-table">
        <thead>
        <th class="table-active" scope="col" colspan="14">Items</th>

        <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Product</th>
            <th scope="col">HSN / SAC</th>
            <th scope="col">Unit</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate with GST</th>
            <th scope="col">GST %</th>
            <th scope="col">Rate without GST</th>
            <th scope="col">Amt without GST</th>
            <th scope="col">SGST</th>
            <th scope="col">CGST</th>
            <th scope="col">IGST</th>
            <th scope="col">Amt with GST</th>
            <th scope="col">#</th>

        </tr>
        </thead>
        {{ invoiceitemformset.management_form }}

        <tbody id="invoice-form-items-table-body">

        {% for form in invoiceitemformset %}
        <tr class="form-row" >
            <td class="invoice-item-slno">
                {{form.count}}
            </td>
            <td class="form-input-td">
                {{form.product}}
            </td>
            <td class="form-input-td">
                {{form.hsn}}
            </td>
            <td class="form-input-td">
                {{form.unit}}
            </td>
            <td class="form-input-td">
                {{form.quantity}}
            </td>
            <td class="form-input-td">
                {{form.rate_with_gst}}
            </td>
            <td class="form-input-td">
                {{form.gst_percentage}}
            </td>
            <td class="form-input-td">
                {{form.rate_without_gst}}
            </td>
            <td class="form-input-td">
                {{form.amt_without_gst}}
            </td>
            <td class="form-input-td">
                {{form.amt_sgst}}
            </td>
            <td class="form-input-td">
                {{form.amt_cgst}}
            </td>
            <td class="form-input-td">
                {{form.amt_igst}}
            </td>
            <td class="form-input-td">
                {{form.profit_margin_percentage}}
                {{form.amt_with_gst}}
            </td>
            <td>
                <button class="btn btn-danger btn-sm remove-form-row">-</button>
            </td>
        </tr>
        {% endfor %}


        </tbody>

        <tr>
            <td colspan="8" class="text-right"><strong>TOTAL:</strong></td>
            <td class="form-input-td">
                {{invoiceform.total_amt_without_gst}}
            </td>
            <td class="form-input-td">
                {{invoiceform.total_amt_sgst}}

            </td>
            <td class="form-input-td">
                {{invoiceform.total_amt_cgst}}
            </td>
            <td class="form-input-td">
                {{invoiceform.total_amt_igst}}
            </td>
            <td class="form-input-td">
                {{invoiceform.total_amt_with_gst}}
            </td>
        </tr>

    </table>

    <button class="btn btn-primary add-form-row float-end" id="add-new-form">+ Add More</button>

    <div class="align-middle">
        <button type="submit" class="btn btn-primary">Add to Purchases</button>
        <a href="" class="btn btn-success">Go Back</a>
        <a href="" class="btn btn-info">Cancel</a>
    </div>


</form>
{% endblock content %}
{% block includejs %}

<script src="{% static 'js/new.js' %}"></script>

<script>

</script>

{% endblock %}
