{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}
		GST Billing
		{% endblock %}
	</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "bootstrap-5.0.2-dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "main.css" %}">

	<!-- DataTables CSS  -->
	<link rel="stylesheet" href="{% static "DataTables/jquery.dataTables.min.css" %}">
	<link rel="stylesheet" href="{% static "DataTables/dataTables.bootstrap4.min.css" %}">

	{% block includecss %}
	{% endblock %}

</head>

<body>

	{% include "homepage/navbar.html" %}

		{% block content %}
		CONTENT BLOCK
		{% endblock %}

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>

	<script src="{% static "bootstrap-5.0.2-dist/js/bootstrap.min.js" %}"></script>

	<!-- DataTables  -->
	<script src="{% static "DataTables/jquery.dataTables.min.js" %}"></script>

	{% block includejs %}
	{% endblock %}

</body>


</html>