{% extends "base.html" %}
{% block title %} Sales Bill List {% endblock title %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">Sales Bills </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{% url 'inventory:new-sales' %}">
                <button type="button" class="btn btn-info">New Outgoing Stock</button>
            </a>
        </div>
    </div>
</div>

    {% if salebills %}
<table class="table table-hover table-sm mt-5">
    <thead class="table-light">
    <tr>
        <th>Bill No</th>
        <th>Customer</th>
        <th>Stocks Sold</th>
        <th>Quantity Sold</th>
        <th>Total Sold Price</th>
        <th>Sale Date</th>
        <th>Options</th>
    </tr>
    </thead>

    <tbody>
    {% for sale in salebills %}
    <tr>
        <td><h3>{{ sale.invoice_number }}</h3></td>
        <td> {{ sale.customer.name }} <br> <small style="color: #909494">Ph No : {{ sale.customer.phone }}</small></td>
        <td>{% for item in sale.get_items_list %} {{ item.product.name }} <br> {% endfor %}</td>
        <td>{% for item in sale.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
        <td>{{ sale.get_total_price }}</td>
        <td>{{ sale.date|date:'d/m/Y' }}</td>
        <td><a href="{% url 'inventory:salesbill_viewer' sale.invoice_number %}" class="btn btn-primary btn-sm">View Bill</a> <a
                href="{% url 'inventory:delete-sale' sale.invoice_number %}" class="btn btn-danger btn-sm">Delete Bill</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--Pagination-->
<div class="pagination justify-content-center">

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<div style="color: green; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
{% endif %}

{% endblock content %}