{% extends "base.html" %}
{% block title %} Archive Invoice {% endblock title %}
{% block content %}


<div>
    <h1>All Invoice for {{ month|date:"F Y" }}</h1>

</div>

<table class="table table-hover table-sm mt-5">
    <thead class="table-light">
    <tr>
        <th>Bill No</th>
        <th>Customer</th>
        <th>Stocks Sold</th>
        <th>Quantity Sold</th>
        <th>Total Sold Price</th>
        <th>Sale Date</th>
        <th>Options</th>
    </tr>
    </thead>

    <tbody>
    {% for sale in object_list %}
    <tr>
        <td><h3>{{ sale.invoice_number }}</h3></td>
        <td> {{ sale.customer.name }} <br> <small style="color: #909494">Ph No : {{ sale.customer.phone }}</small></td>
        <td>{% for item in sale.get_items_list %} {{ item.invoice_product.name }} <br> {% endfor %}</td>
        <td>{% for item in sale.get_items_list %} {{ item.invoice_quantity }} <br> {% endfor %}</td>
        <td>{{ sale.get_total_price }}</td>
        <td>{{ sale.date|date:'d/m/Y' }}</td>
        <td><a href="{% url 'inventory:salesbill_viewer' sale.id %}" class="btn btn-primary btn-sm">View Bill</a>
<!--            <a href="{% url 'inventory:delete-sale' sale.id %}" class="btn btn-danger btn-sm">Delete Bill</a></td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--Pagination-->
<div class="pagination justify-content-center">

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<p>
    {% if previous_month %}
    <a class="btn btn-sm btn-primary" href="{% url 'inventory:archive_month' previous_month.year previous_month.month %}"><< {{ previous_month|date:"F Y" }}</a>

    {% endif %}
    {% if next_month %}
        <a class="btn btn-sm btn-primary" href="{% url 'inventory:archive_month' next_month.year next_month.month %}">{{ next_month|date:"F Y" }} >></a>

    {% endif %}
</p>

{% endblock %}




