{% extends "base.html" %}
{% block title %} Delete Sale {% endblock title %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h3 style="color:green; font-style: bold;">Delete Customer</h3>
    <h4>Are you sure you want to delete the Customer No: {{ object.name }}?</h4>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'customer-list' %}" class="btn btn-info">Cancel</a>
    </div>
</form>
{% endblock content %}