{% extends "base.html" %}

{% block title %} Purchases Bill List {% endblock title %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">Purchases Bills </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{% url 'inventory:new-purchase' %}">
                <button type="button" class="btn btn-info">New Incoming Stock</button>
            </a>
        </div>
    </div>
</div>
   {% if purchasebills %}
<table class="table table-hover table-sm mt-5">
    <thead class="table-light">
    <tr>
        <th>Bill No</th>
        <th>Supplier</th>
        <th>Stocks Purchased</th>
        <th>Quantity Purchased</th>
        <th>Total Purchased Price</th>
        <th>Purchased Date</th>
        <th>Options</th>
    </tr>
    </thead>

    <tbody>
    {% for purchase in purchasebills %}
    <tr>
        <td><h3>{{ purchase.invoice_number }}</h3></td>
        <td>

             {{ purchase.supplier.name }}

            <small style="color: #909494">Ph No : {{ purchase.supplier.phone }}</small>
        </td>
        <td>{% for item in purchase.get_items_list %} {{ item.product.name }} <br> {% endfor %}</td>
        <td>{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
        <td>{{ purchase.get_total_price }}</td>
        <td>{{ purchase.date|date:'d/m/Y' }}</td>
        <td><a href="{% url 'inventory:purchasebill_viewer' purchase.invoice_number %}" class="btn btn-primary btn-sm">View Bill</a> <a
                href="" class="btn btn-danger btn-sm">Delete Bill</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--Pagination-->
<div class="pagination justify-content-center">

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<div style="color: green; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
{% endif %}

{% endblock content %}