{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block content %}

<h3 style="color:green; font-style: bold; ">{{title}}</h3>

<form method="post">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}"  class="form-label">Name:</label>
        {{ form.name }}
    </div>
    <div class="form-group ">
        {{ form.hsn.errors }}
        <label for="{{ form.hsn.id_for_label }}"  class="form-label">hsn:</label>
        {{ form.hsn }}
    </div>

     <div class="form-group ">
        {{ form.unit.errors }}
        <label for="{{ form.unit.id_for_label }}"  class="form-label">unit:</label>
        {{ form.unit }}
    </div>
 <div class="form-group ">
        {{ form.gst_percentage.errors }}
        <label for="{{ form.gst_percentage.id_for_label }}"  class="form-label">gst_percentage:</label>
        {{ form.gst_percentage }}
    </div>
    <div class="form-group ">
        {{ form.record_level.errors }}
        <label for="{{ form.record_level.id_for_label }}"  class="form-label">record_level:</label>
        {{ form.record_level }}
    </div>


     <div class="text-left mt-5">
        <button type="submit" class="btn btn-success">{{ savebtn }}</button>
        {% if title == "New Item" %}
        <button type="reset" class="btn btn-info">Reset</button>
        {% endif %}
        {% if delbtn %}
        <a href="{% url 'delete-item' object.pk %}" class="btn btn-danger"> Delete Stock </a>
        {% endif %}
        <a href="{% url 'item' %}" class="btn btn-primary">Cancel</a>
    </div>

</form>

{% endblock content %}