{% extends "base.html" %}
{% block title %} Delete Stock {% endblock title %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <h3 style="color:green; font-style: bold;">Delete Stock</h3>
        <h5>Are you sure you want to delete the stock item "{{ object.product }}"?</h5>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'inventory:stock-list' %}" class="btn btn-info">Cancel</a>
    </div>

</form>

{% endblock content %}