{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">{{title}} </h1>
</div>
<form method="post">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        {{ form.name.errors }}
        <label for="{{ form.product.id_for_label }}"  class="form-label">Name:</label>
        {{ form.product }}
    </div>

    <div class="form-group ">
        {{ form.quantity.errors }}
        <label for="{{ form.quantity.id_for_label }}"  class="form-label">Quantity:</label>
        {{ form.quantity }}
    </div>
     <div class="form-group ">
        {{ form.quantity.errors }}
        <label for="{{ form.alert_level.id_for_label }}"  class="form-label">Alert Level:</label>
        {{ form.alert_level }}
    </div>
     <div class="text-left mt-5">
        <button type="submit" class="btn btn-success">{{ savebtn }}</button>
        {% if title == "New Stock" %}
        <button type="reset" class="btn btn-info">Reset</button>
        {% endif %}
        {% if delbtn %}
        <a href="{% url 'inventory:delete-stock' object.pk %}" class="btn btn-danger"> Delete Stock </a>
        {% endif %}
        <a href="{% url 'inventory:stock-list' %}" class="btn btn-primary">Cancel</a>
    </div>

</form>

{% endblock content %}