{% extends "base.html" %}
{% block container %}
{{ form.media }}
{% load crispy_forms_tags %}
<div class="container mt-3">
    <div class="card  border-dark mb-3">
        <h4 class="card-header text-center">Order Edit Form#{{object.id}}</h4>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <table>
                                {% for field in form %}
                                {% if forloop.counter <= 2 %}
                                <tr>
                                    <td>{{ field |as_crispy_field }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <table>
                                {% for field in form %}
                                {% if forloop.counter > 2 %}
                                {% if forloop.counter <= 4 %}
                                <tr>
                                    <td>{{field|as_crispy_field}}</td>
                                </tr>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <table>
                                {% for field in form %}
                                {% if forloop.counter > 4 %}
                                <tr>
                                    <td>{{field|as_crispy_field}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class='btn btn-success ' value="Submit">
                    <a class="btn btn-primary" href="{% url 'toris:order_list'  %}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}