{% extends "base.html" %}
{% block container %}
<div class="container mt-3">
    <div class="card border-dark mb-3">
        <div class="card-header text-center">
            <h4 class="card-title">Order Details #{{orderdetail.id}}</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Id:</dt>
                <dd class="col-sm-9">{{ orderdetail.id }}</dd>
                <dt class="col-sm-3">Date:</dt>
                <dd class="col-sm-9">{{ orderdetail.order_date }}</dd>
                <dt class="col-sm-3">Customer Name:</dt>
                <dd class="col-sm-9">{{ orderdetail.customer_name }}</dd>
                <dt class="col-sm-3">Product Code:</dt>
                <dd class="col-sm-9">{{ orderdetail.product_code }}</dd>
                <dt class="col-sm-3">Order Quantity:</dt>
                <dd class="col-sm-9">{{ orderdetail.order_qty }}</dd>
            </dl>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'toris:order_list' %}">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}