{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Production Order{% endblock %}
{% block container %}
<div class="container-fluid mt-3">
    <h4>Plant Production Order</h4>
    <!--    {{orders}}-->
    <div class="text-right mb-3">
        <button type="button" class="btn btn-secondary " >
                <a class="text-white" href="{% url 'toris:export_production_order_csv' %}"> Downloads</a>
            </button>

    </div>
    <table class= "table table-bordered table-hover table-sm ">
        <tr>
            <thead >
            <tr>
                <th scope="col">Product Code</th>

                <th scope="col">Reqd. Prod</th>
                <th scope="col">Color marking on bobin</th>
                <th scope="col">Tape Color</th>
                <th scope="col">Denier</th>
                <th scope="col">Gramage</th>
                <th scope="col">Tape Width</th>
                <th scope="col">Cutter Spacing</th>
                <th scope="col">Streanth per tape in kg</th>
                <th scope="col">Elongation %</th>

                <th scope="col">Tanacity</th>
                <th scope="col">PP %</th>
                <th scope="col">Filler %</th>
                <th scope="col">Shiner %</th>
                <th scope="col">Color %</th>
                <th scope="col">TPT %</th>
                <th scope="col">UV %</th>
                <th scope="col">Color Name</th>


            </tr>
            </thead>
            <tbody>

            {% for order in production_orders %}
            <tr>

                <td>{{order.product_code}}</td>

                <td>{{order.net_p}}</td>
                <td>{{order.color_marking_on_bobin}}</td>
                <td>{{order.tape_color}}</td>

                <td>{{order.denier}}</td>
                <td>{{order.gramage}}</td>
                <td>{{order.tape_width}}</td>
                <td>{{order.cutter_spacing}}</td>
                <td>{{order.streanth_per_tape_in_kg}}</td>
                <td>{{order.elongation_percent}}</td>

                <td>{{order.tanacity}}</td>
                <td>{{order.pp_percent}}</td>
                <td>{{order.filler_percent}}</td>
                <td>{{order.shiner_percent}}</td>
                <td>{{order.color_percent}}</td>
                <td>{{order.tpt_percent}}</td>
                <td>{{order.uv_percent}}</td>
                <td>{{order.color_name}}</td>


            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% if is_paginated %}
{% include "toris/pagination.html" %}
{% endif %}
{% endblock %}