{% extends "base.html" %}
{% block title %}Product List{% endblock %}
{% load django_tables2 %}
{% render_table table %}
{% load bootstrap4 %}
{% block container %}
{{ form.media }}

<div class="container-fluid mt-3">
    <h4>Plant Production List</h4>

    {% if filter %}
    <form action="" method="get" class="form form-inline">

        {% bootstrap_form filter.form layout='inline' %}
        <!--        <button type="submit" class="btn btn-primary ml-2 mt-1 mr-2">Filter</button>-->
        {% bootstrap_button "Filter" button_type="submit" button_class="btn-primary ml-2" %}
        <!--        {% bootstrap_button 'filter' %}-->
    </form>
    {% endif %}
    <div class="text-right mb-2 ">
        <div class="btn-group ">
            <a class="btn btn-outline-success  mr-2 " href="{% url 'toris:product_create'  %}"><i
                    class="fas fa-plus"></i>Add New </a>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Downloads
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                {% for format in view.export_formats %}
                <button class="dropdown-item" type="button"><a class="dropdown-item" href="{% export_url format %}">
                    Product <code>.{{ format }}</code></a></button>
                {% endfor %}
            </div>
        </div>
    </div>

    {% render_table table %}

</div>


{% endblock %}





