{% extends "base.html" %}
{% block container %}
<div class="container mt-3">
    <div class="card border-dark mb-3">
        <div class="card-header">
            <h4 class="card-title text-center">Product Details #{{productdetail.product_code}}</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Product Code:</dt>
                <dd class="col-sm-9">{{ productdetail.product_code }}</dd>
                <dt class="col-sm-3">Color marking on bobin:</dt>
                <dd class="col-sm-9">{{ productdetail.color_marking_on_bobin }}</dd>
                <dt class="col-sm-3">Tape color:</dt>
                <dd class="col-sm-9">{{ productdetail.tape_color }}</dd>
                <dt class="col-sm-3">Denier:</dt>
                <dd class="col-sm-9">{{ productdetail.req_denier }}</dd>
                <dt class="col-sm-3">Gramage:</dt>
                <dd class="col-sm-9">{{ productdetail.req_gramage }}</dd>
                <dt class="col-sm-3">Tape width:</dt>
                <dd class="col-sm-9">{{ productdetail.req_tape_width }}</dd>
                <dt class="col-sm-3">Cutter spacing:</dt>
                <dd class="col-sm-9">{{ productdetail.cutter_spacing }}</dd>
                <dt class="col-sm-3">Bobin Stock:</dt>
                <dd class="col-sm-9">{{ productdetail.stock_of_bobin }}</dd>
                <dt class="col-sm-3">Streanth per tape in kg:</dt>
                <dd class="col-sm-9">{{ productdetail.req_streanth_per_tape_in_kg }}</dd>
                <dt class="col-sm-3">Elongation Percent:</dt>
                <dd class="col-sm-9">{{ productdetail.req_elongation_percent }}</dd>
                <dt class="col-sm-3">Streanth:</dt>
                <dd class="col-sm-9">{{ productdetail.streanth }}</dd>
                <dt class="col-sm-3">Tanacity:</dt>
                <dd class="col-sm-9">{{ productdetail.tanacity }}</dd>
                <dt class="col-sm-3">PP %:</dt>
                <dd class="col-sm-9">{{ productdetail.pp_percent }}</dd>
                <dt class="col-sm-3">Filler %:</dt>
                <dd class="col-sm-9">{{ productdetail.filler_percent }}</dd>
                <dt class="col-sm-3">Shiner %:</dt>
                <dd class="col-sm-9">{{ productdetail.shiner_percent }}</dd>
                <dt class="col-sm-3">Color %:</dt>
                <dd class="col-sm-9">{{ productdetail.color_percent }}</dd>
                <dt class="col-sm-3">TPT %:</dt>
                <dd class="col-sm-9">{{ productdetail.tpt_percent }}</dd>
                <dt class="col-sm-3">UV %:</dt>
                <dd class="col-sm-9">{{ productdetail.uv_percent }}</dd>
                <dt class="col-sm-3">Color name:</dt>
                <dd class="col-sm-9">{{ productdetail.color_name }}</dd>
            </dl>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'toris:product_list' %}">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}