{% extends "base.html" %}

{% block container %}
<h3>Stock List</h3>
<!--<form class="" method="GET" action="{% url 'stockapp:search_results' %}" >-->
<!--    <input class="" type="search" name="search">-->
<!--    <button class="" type="submit"> Search </button>-->
<!--</form>-->

<form  action="{% url 'stockapp:search_results' %}" method="get">
    <select name="search">
        <option value="">All stocks</option>
        <option value="new_intraday_high">New Intraday High</option>
        <option value="new_closing_high">New Closing High</option>
        <option value="new_intraday_low">New Intraday Low</option>
        <option value="new_closing_low">New Closing Low</option>
    </select>
    <input type="submit" value="Submit" class="btn btn-sm btn-primary">
</form>

<table class="table table-sm">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">NSE Symbol</th>
                <th scope="col">Yahoo finance Symbol</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stockslist %}
            <tr>
                <td><a href="{% url 'stockapp:detail' stock.id stock.nse_symbol %}">{{ stock.name }}</a></td>
                <td>{{stock.nse_symbol}}</td>
                <td>{{stock.yahoo_symbol}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}