{% extends "base.html" %}
{% block title %} Customers List {% endblock title %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">Customers </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{% url 'inventory:new-customer' %}">
                <button type="button" class="btn btn-info">Add New Customer</button>
            </a>
        </div>
    </div>
</div>

{% if object_list %}
<table class="table table-hover table-sm mt-5">
    <thead class="table-light">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Pin Code</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>GSTIN No</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for customer in object_list %}
    <tr>
        <td>
            <a href="{% url 'inventory:customer-bill-list' customer.name %}">{{ customer.name }}</a>
        </td>
        <td> {{ customer.address }}</td>
        <td> {{ customer.city }}</td>
        <td> {{ customer.zip }}</td>
        <td> {{ customer.phone }}</td>
        <td> {{ customer.email }}</td>
        <td> {{ customer.gstin }}</td>
        <td>
            <div class="align-middle">
                <a href="{% url 'inventory:edit-customer' customer.pk %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'inventory:delete-customer' customer.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--Pagination-->
<div class="pagination justify-content-center">

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<div style="color: green; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
{% endif %}
{% endblock content %}