{% extends "base.html" %}
{% block title %} Delete Stock {% endblock title %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">Delete Supplier </h1>

</div>
<form method="post">
    {% csrf_token %}
    <h5>Are you sure you want to delete Supplier "{{ object.name }}"?</h5>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'inventory:supplier-list' %}" class="btn btn-info">Cancel</a>
    </div>
</form>

{% endblock content %}